/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensuring padding and border are included in the element's total width and height */
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(245, 251, 255) 50%,
    rgb(179, 231, 255) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* SECTIONS */
section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  position: relative;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#profile {
  animation: fadeIn 1s ease-in-out;
}

.section__pic-container {
  display: flex;
  height: 500px;
  width: 500px;
  margin: auto 0;
  border-radius: 30%;
  overflow: hidden;

  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  text-align: center;
  font-size: 1.7rem;
  color: rgb(29, 118, 196);
  display: inline;
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#socials-container .icon {
  transition: transform 0.3s ease;
}

#socials-container .icon:hover {
  transform: scale(1.2);
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ABOUT SECTION */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  justify-content: space-around;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects {
  padding: 20px;
}

#projects .experience-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.details-container.color-container {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.skillset-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Increased height */
  background-color: rgba(255, 255, 255, 0.932);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: all 0.3s ease;
}

.skillset-card.right {
  left: 100%; /* Position it to the right of the container */
}

.skillset-card.left {
  right: 100%; /* Position it to the left of the container */
}

.skillset-card h3 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.skillset-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0% 5%;
}

.skillset-card ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.skillset-card ul li i {
  margin-left: 5px;
  color: rgb(0, 60, 255); /* Color for the stars */
}

.skillset-card ul li span {
  color: rgb(0, 60, 255); /* Color for the stars */
}

.skillset-card p {
  color: black;
  font-weight: 600;
  padding: 0% 5%;
}

.skillset-card img {
  object-fit: cover;
  max-height: 30px;
  max-width: 30px;
  margin: 0.5rem;
}

.details-container:hover .skillset-card {
  opacity: 1;
  pointer-events: auto;
}

.details-container:hover .skillset-card.right {
  left: calc(
    100% + 10px
  ); /* Adjust the position to the right with some margin */
}

.details-container:hover .skillset-card.left {
  right: calc(
    100% + 10px
  ); /* Adjust the position to the left with some margin */
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease;
  max-height: 350px;
  max-width: fit-content;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Hover image for Project 1 */
.project1:hover .project-img {
  content: url("./assets/P1-HomePage.webp"); /* Replace with Project 1's hover image */
}

.project2:hover .project-img {
  content: url("./assets/P2-HomePage.webp"); /* Replace with Project 2's hover image */
}

.project3:hover .project-img {
  content: url("./assets/P3-HomePage.webp"); /* Replace with Project 2's hover image */
}

.project5:hover .project-img {
  content: url("./assets/P5-HomePage.webp"); /* Replace with Project 2's hover image */
}

.project7:hover .project-img {
  content: url("./assets/P7-HomePage.webp"); /* Replace with Project 2's hover image */
}

.project8:hover .project-img {
  content: url("./assets/P8-HomePage.webp"); /* Replace with Project 2's hover image */
}

/* CONTACT SECTION */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.details-container.color-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(5, 217, 255);
  transition: all 0.3s ease;
  cursor: pointer;
  /* smooth zoom in  */
  transform: scale(1.05);
}
/* glow effect */
.details-container.color-container:hover {
  box-shadow: 0 0 20px rgba(176, 237, 255, 0.97), 0 0 40px #55f9f980;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  section {
    margin: 0 5rem;
  }
}

@media (max-width: 768px) {
  section {
    margin: 0 2rem;
  }
}

@media (max-width: 480px) {
  section {
    margin: 0 1rem;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 170vh;
  z-index: -1; /* Ensure particles are behind the content */
  top: 0;
  left: 0;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

#particles-js canvas {
  filter: drop-shadow(0 0 6px rgba(151, 239, 255, 0.8));

  @keyframes sparkle {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3); /* Slightly increases the size for sparkle */
    }
  }
}
